body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* #navbar { */
/* display: flex; */
/* } */
nav {
  width: 100%;
}
nav > ul {
  list-style: none;
  margin-top: 10px;
  margin-left: 10px;
}
li {
  display: inline;
}
li > a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 0.9em;
}
.store {
  margin-left: 2%;
}
.images {
  position: relative;
  left: 82%;
}
.gmail {
  position: relative;
  left: 80%;
}
/* a { */
/* color: black; */
/* text-decoration: none; */
/* } */
/* .container { */
/* position: absolute; */
/* } */
/* .logo { */
/* display: flex; */
/* height: auto; */
/* width: auto; */
/* } */
/* .searchbar { */
/* position: relative; */
/* left: 50%; */
/* } */
.material-icons {
  position: relative;
  left: 83%;
  top: -10%;
}
@media screen and (max-width: 375px) {
  body {
    background-color: yellow;
    font-size: 0.5em;
  }
  .navbar {
    width: 70%;
  }
  nav > ul {
    list-style: none;
    margin-top: 10px;
    margin-left: 0;
  }
  li {
    display: inline;
  }
  li > a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 0.9em;
  }
  .store {
    margin-left: 2%;
  }
  .images {
    position: relative;
    left: 40%;
    padding-left: 35%;
  }
  .gmail {
    position: relative;
    left: 50%;
  }
}
